.container {
  height: auto;
  width: 270px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;

  .imagediv {
    background: #7e7e7e;
    height: 270px;
    width: 270px;
  }
  .title {
    margin-top: 15px;
    margin-left: 15px;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #07c6ba;
  }
  .content {
    margin-top: 10px;
    margin-left: 15px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
  }
}
