.inner {
  // margin-left: 20px;

  .btn {
    
    margin:0px 10px;
    
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: none;

    .arrow {
      margin-left: 10px;
    }
  }
  .whiteBtn{
    color: white;
  }
  &:hover {
    background-color:  rgba(0, 0, 0, 0);
  }
  .paper {
    max-width: 253px;
    .menuItem {
      white-space: break-spaces;
      p{
          margin: 0px;
          .chip{
            background: #07C6BA;
            color: #FFFFFF;
          }

      }
    }
  }
}
.inner>div{
  z-index: 2;
}
