html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.containerside {
  margin: 0px 135px;
}
@media only screen and (max-device-width: 1180px) {
  .containerside {
    margin: 0px 15px;
  }
}


.title {
  font-family: Poppins;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height:2.75rem;
  letter-spacing: 0em;
  text-align: left;
}


