$tablet_brkpoint: 1180px;

.parentContainer {
  background-color: #000000;
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;

  .whiteLink {
    color: white;
    .openDropDown{
      .normalBtn{
        color: white;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .openDropDown {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .normalBtn {
        margin: auto 17.5px;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: none;
      }
    }

    .btn {
      width: auto;
      margin: auto 17.5px;
      background: #07c6ba;
      color: white;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
      text-transform: none;
    }
  }
  .hamburger {
    display: none;
  }
}
@media screen and (max-device-width: $tablet_brkpoint) {
  .nav {
    height: auto;
    flex-direction: column;
    .logo{
      margin-top: 20px;
    }
    .links {
      // display things with the collapse component
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
// end
      .openDropDown {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

      }
      .active{
        display: flex;   
      }
    }
    
    .hamburger {
      display: block;

    }
    .hamburgerWhite{
      color: white;
    }
    
  }
}
