.container {
  margin: 105px auto;
  .title{
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;   
    margin: 27.5px;

  }
  .compContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

  }
  
}
